<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.add.freddy.add16">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Web" />
        <activity
            android:name=".Seccion_a_tab"
            android:label="@string/title_activity_seccion_a_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Seccion_b_tab"
            android:label="@string/title_activity_seccion_b_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Seccion_c_tab"
            android:label="@string/title_activity_seccion_c_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Seccion_d_tab"
            android:label="@string/title_activity_seccion_d_tab"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>